.filter {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;

  > .count {
    color: #a9a9a9;
  }

  &:hover {
    background-color: rgba(40, 151, 197, 0.3);
  }

  &.selected {
    background-color: rgb(40, 151, 197);
    > .name {
      color: #fff;
    }
    > .count {
      color: #fff;
    }
  }
}
